/* navbar CSS */

.navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
    box-shadow: 0 2px 10px rgba(0,0,0,.25);
    background-image: linear-gradient(to bottom, rgb(232, 67, 16), rgb(202, 27, 16));
}

.navbar .brand,
.navbar .nav > li > a,
.navbar-text {
    text-shadow: none;
    color: rgb(255,255,255);
}

.navbar .nav > .active > a,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: rgb(232, 67, 16);
    background-color: rgb(255,255,255);
}

.dropdown-menu > li > a {
    color: rgb(232,67,16);
}

.display-picture {
    width: 48px;
    height: 48px;
    box-shadow: 2px 2px 10px 2px Black;
    background-color: White;
}

.display-picture-collapse {
    width: 33px;
    height: 33px;
    background-color: White;
}

.display-picture-filter {
    width: 38px;
    height: 38px;
    margin-top: 5px;
    border: solid 2px rgb(180, 7, 0);
}

.navbar .divider-vertical,
.divider-vertical {
    border-left: 1px solid rgb(180,7,0);
    border-right: 1px solid rgb(232, 67, 16);
    height: 50px;
}

.navbar .btn-navbar {
    background-image: none;
}

    .navbar .btn-navbar .icon-bar {
        background-color: rgb(232, 67, 16);
        box-shadow: 0px 1px 0px rgba(232, 67, 16, 0.25);
    }

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}


/* Downsize the brand/project name a bit */
.navbar .brand {
    padding: 5px 20px 0px 20px; /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
}

.navbar-text {
    line-height: 50px;
    text-indent: 5px;
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
    padding: 15px 5px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
    margin-top: 10px;
}

.navbar-inner {
    min-height: 50px;
}
/* Carousel CSS */

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel .item {
    height: 125px;
}

.image-top img {
    position: absolute;
    top: 0;
    height: 125px;
}

.image-top {
    height: 125px;
    margin: auto;
    width: 95%;
    margin-bottom: 5px;
    position: relative;
}

.progress {
    margin-top: -23px;
    width: auto;
    box-shadow: 0px 1px 2px 1px rgba(91, 192, 222, 1) inset;
    margin-bottom: 0px;
}

    .progress.full-length {
        margin-top: -20px;
        left: 0px;
        width: auto;
        box-shadow: 0px 1px 2px 1px rgba(91, 192, 222, 1) inset;
        margin-bottom: 0px;
        margin-left: 0px;
    }


    .progress.indent {
        border-top: solid 4px rgb(180,7,0);
        border-left: solid 4px rgb(180,7,0);
        border-right: solid 4px rgb(200, 27, 20);
        border-bottom: solid 4px rgb(200, 27, 20);
    }

.progress-filter-bar {
    margin: 10px 0 5px 0;
    color: rgb(255,255,255);
    float: none !important;
    width: 100%;
}

.progress.full-length > .progress-filter-bar {
    margin: 2px 0px 2px 0px;
}

.navbar-search {
    margin-right: 10px;
    margin-top: 10px;
    max-width: 45%;
    width: 100%;
}

    .navbar-search .search-query {
        width: 90%;
        max-width: 700px;
    }

.no-border-radius {
    border-radius: 2px 2px 2px 2px !important;
}

/* Filter Var */

.navbar-inner.filterbar {
    min-height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(250,250,250);
    background-repeat: repeat-x;
    margin-top:40px;
    position:relative;
}

.navbar.filterbar .filterbar-inner {
    border: 0px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
    background-image: linear-gradient(to bottom, rgb(232, 67, 16), rgb(202, 27, 16));
}

.orange-border {
    padding: 5px 0px;
    background-image: linear-gradient(to bottom, rgb(232, 67, 16), rgb(202, 27, 16));
}

.medium-margin-top {
    margin: 75px 0px 0px 0px;
}

.unwrap {
    top: inherit;
    margin-top: 0px;
    margin-bottom: 0px;
}

.filters {
    margin-left: 0px;
    list-style: none outside none;
    max-width: 50%;
    width: 100%;
}

body {
    background-image: url(../../Images/ticks.png);
}

/* task timer css*/

.current-task {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 34px;
    color: black;
    margin-bottom: 40px;
    position:relative;
    top:30px;
}

    .current-task .task-time,
    .current-task .task-name {
        margin: -10px 10px;
        padding: 0 10px;
        border: 1px solid rgb(232, 67, 16);
        background-image: linear-gradient(to bottom, rgb(232, 67, 16), rgb(202, 27, 16));
        display: inline-block;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        height: 35px;
    }

        .current-task .task-time > i,
        .current-task .task-name > i {
            margin-right: 5px;
        }

.text-border {
    background-color: white;
    padding: 2px 10px;
    border: solid 3px rgb(180, 7, 0);
    border-radius: 5px;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 3.5%;
}



.story,
.task {
    height: 40px;
    border-radius: 5px;
    margin-bottom: 3px;
    width: 95%;
    -moz-box-shadow: 2px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px rgba(0,0,0,0.5);
    box-shadow: 2px 2px rgba(0,0,0,0.5);
    background-image: linear-gradient(to bottom, rgb(200,200,200), rgb(255,255,255), rgb(200,200,200));
    font: bold 10px Helvetica;
    color: black;
    display: block;
}

.task {
    width: 100%;
}

.story.header {
    background-image: linear-gradient(to bottom, rgb(202,27,16), rgb(232,67,16), rgb(202,67,16));
    width: 100%;
    margin: 0px;
    color: white;
    text-shadow: 1px 1px rgb(0,0,0);
    font-size: 15px;
}

.story.selected {
    margin-left: 5%;
}

.story > .summary {
    cursor: pointer;
}

.story.header > .summary {
    cursor: default;
}

.story-badges {
    padding: 10px;
    float: right;
    font-size: 12px;
}

    .story-badges > span {
        margin: 0px 4px;
    }

.story .summary,
.task .summary,
.task .time {
    padding: 10px 5px;
    position: relative;
    top: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task .time {
    font-size: 13px;
    margin: 0px 10px 0px 25px;
}

input.time {
    margin: 15px 15px 0px 0px;
    width: 30px;
    text-align: center;
}

input.summary {
    margin: 15px 0px 0px 15px;
}

.task-info {
    padding: 10px 5px;
    margin-right: 25px;
}

.task-heading {
    background-image: linear-gradient(to bottom, rgb(150,150,150),rgb(200,200,200));
    font: 10px Helvetica, verdana;
    height: 30px;
    margin: -5px 0px;
}

.task-info .dropdown-menu {
    right: -25px;
    min-width: 10px;
    margin-right: 5px;
}

.accordion-body.in {
    padding-bottom: 100px;
}

.task-edit {
    background-image: linear-gradient(to bottom, rgb(200,200,200), rgb(255,255,255));
    height: 50px;
    margin-top: -10px;
}

.task-heading > span {
    padding: 8px 8px 0px 0px;
    text-decoration: underline;
}

.button-options {
    float: right;
    padding: 7px;
    display: none;
}

.story.selected > .button-options {
    display: block;
}

input[type="button"] {
    color: white;
    font-size: 10px;
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    height: 25px;
    width: auto;
    border-radius: 5px;
}

.btnOpen {
    background-color: gold;
    background-image: linear-gradient(to bottom, rgb(255,216,0), rgb(205, 165, 0));
    border: 1px solid rgb(202,165,0);
    position: relative;
}

.btnDelete {
    background-color: rgb(200, 27, 20);
    background-position: -310px 4px;
    border: 1px solid rgb(180,7,0);
    width: 20px !important;
    margin: -5px 0px 0px 0px;
}

.btnUpdate {
    background-color: rgb(0,200,33);
    background-position: -286px 4px;
    border: 1px solid rgb(0,180,13);
    margin: 15px 2px 0px 5px;
}

.btnAdd {
    cursor: pointer;
    width: 20px !important;
    margin-top:10px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    background-color:rgb(232, 67, 16);
    text-shadow:none;
}

.hero-unit {
    padding: 40px;
}

.row-fluid [class*="span"]:first-child {
    margin-left:0 !important;
}

.hero-unit > .dropdown {
    border: 1px solid rgb(180,180,180);
    padding: 1px;
    margin-bottom:10px;
    border-radius:5px;
    background-color:white;
    text-align:center;
    width:150px;
}

    .hero-unit > .dropdown:hover {
        background-image:linear-gradient(to bottom, rgb(232, 67, 16), rgb(202, 27, 16));
        color:white;
    }

    .hero-unit > .dropdown > a,
    .hero-unit > .dropdown > a:focus,
    .hero-unit > .dropdown > a:hover {
        color:rgb(232, 67,16);
        text-decoration:none;
    }

        .hero-unit > .dropdown > a:focus,
        .hero-unit > .dropdown > a:hover,
        .hero-unit > .dropdown:hover > a {
            color:white;
        }

    .hero-unit > .dropdown:hover > a > i {
        background-image: url("../bootstrap/img/glyphicons-halflings-white.png");
    }

.search-query {
        width: 50%;
        margin:10px 0 0 0;
    }
@media (max-width: 767px) {
    body {
        padding-right: 0px;
        padding-left: 0px;
    }

    

    .btnAdd {
        margin-left: 200%;
    }

    .row-fluid [class*="span"]:first-child {
        margin: 0px;
    }
}

@media (max-width: 479px) {
    .current-task .task-time,
    .current-task .task-name {
        display: none;
    }
}

@media (max-width: 979px) {

    .row-fluid {
        margin-top: 30px;
    }
}
